<div style="text-align: center; font-family: sans-serif; background-color: limegreen; height: 100%; padding: 0 1rem 2rem 1rem;">
  <img style="height: 2rem; margin: 2rem 0 1rem 0;" src="cid:simple-logo" />

  <div style="background-color: #fff; border-radius: 5px; max-width: 400px; margin: 0 auto; padding: 1rem 1rem 1rem 1rem;">
    <h1>Appointment Updated Notice</h1>
    <p>{{name}}, an operator/admin has updated details of your appointment.</p>
    <!-- TODO -->
    <!-- <table style="width: 100%; text-align: left; border: 2px solid red; padding: 1rem; margin-bottom: 1rem; border-radius: 3px; color: red;">
      <tr>
        <th style="font-weight: 600; font-size: 1.2rem;">Old:</th>
        {{#if newDetails.licensePlateNumber}}
          <tr>
            <td style="font-weight: 600;">License Plate Number</td>
            <td style="text-align: right;">{{oldDetails.licensePlateNumber}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.notifyMobileNumber}}
          <tr>
            <td style="font-weight: 600;">Mobile Number</td>
            <td style="text-align: right;">{{oldDetails.notifyMobileNumber}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerId}}
          <tr>
            <td style="font-weight: 600;">Container Id</td>
            <td style="text-align: right;">{{oldDetails.containerId}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerSize}}
          <tr>
            <td style="font-weight: 600;">Container Size</td>
            <td style="text-align: right;">{{oldDetails.containerSize}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerType}}
          <tr>
            <td style="font-weight: 600;">Container Type</td>
            <td style="text-align: right;">{{oldDetails.conatinerType}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerWeight}}
          <tr>
            <td style="font-weight: 600;">Container Weight</td>
            <td style="text-align: right;">{{oldDetails.containerWeight}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.shippingLine}}
          <tr>
            <td style="font-weight: 600;">Shipping Line</td>
            <td style="text-align: right;">{{oldDetails.shippingLine}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.vesselName}}
          <tr>
            <td style="font-weight: 600;">Vessel Name</td>
            <td style="text-align: right;">{{oldDetails.vesselName}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.vesselETA}}
          <tr>
            <td style="font-weight: 600;">Vessel ETA</td>
            <td style="text-align: right;">{{oldDetails.vesselETA}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.bookingNum}}
          <tr>
            <td style="font-weight: 600;">Booking Number</td>
            <td style="text-align: right;">{{oldDetails.bookingNum}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.formNumber705}}
          <tr>
            <td style="font-weight: 600;">705 Form Number</td>
            <td style="text-align: right;">{{oldDetails.formNumber705}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.emptyForCityFormNum}}
          <tr>
            <td style="font-weight: 600;">Empty for City Form Number</td>
            <td style="text-align: right;">{{oldDetails.emptyForCityFormNum}}</td>
          </tr>
        {{/if}}
      </tr>
    </table>
    <table style="width: 100%; text-align: left; border: 2px solid green; padding: 1rem; border-radius: 3px; color: green;">
      <tr>
        <th style="font-weight: 600; font-size: 1.2rem;">New:</th>
        {{#if newDetails.licensePlateNumber}}
          <tr>
            <td style="font-weight: 600;">License Plate Number</td>
            <td style="text-align: right;">{{newDetails.licensePlateNumber}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.notifyMobileNumber}}
          <tr>
            <td style="font-weight: 600;">Mobile Number</td>
            <td style="text-align: right;">{{newDetails.notifyMobileNumber}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerId}}
          <tr>
            <td style="font-weight: 600;">Container Id</td>
            <td style="text-align: right;">{{newDetails.containerId}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerSize}}
          <tr>
            <td style="font-weight: 600;">Container Size</td>
            <td style="text-align: right;">{{newDetails.containerSize}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerType}}
          <tr>
            <td style="font-weight: 600;">Container Type</td>
            <td style="text-align: right;">{{newDetails.conatinerType}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.containerWeight}}
          <tr>
            <td style="font-weight: 600;">Container Weight</td>
            <td style="text-align: right;">{{newDetails.containerWeight}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.shippingLine}}
          <tr>
            <td style="font-weight: 600;">Shipping Line</td>
            <td style="text-align: right;">{{newDetails.shippingLine}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.vesselName}}
          <tr>
            <td style="font-weight: 600;">Vessel Name</td>
            <td style="text-align: right;">{{newDetails.vesselName}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.vesselETA}}
          <tr>
            <td style="font-weight: 600;">Vessel ETA</td>
            <td style="text-align: right;">{{newDetails.vesselETA}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.bookingNum}}
          <tr>
            <td style="font-weight: 600;">Booking Number</td>
            <td style="text-align: right;">{{newDetails.bookingNum}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.formNumber705}}
          <tr>
            <td style="font-weight: 600;">705 Form Number</td>
            <td style="text-align: right;">{{newDetails.formNumber705}}</td>
          </tr>
        {{/if}}
        {{#if newDetails.emptyForCityFormNum}}
          <tr>
            <td style="font-weight: 600;">Empty for City Form Number</td>
            <td style="text-align: right;">{{newDetails.emptyForCityFormNum}}</td>
          </tr>
        {{/if}}
      </tr>
    </table>
    <p>Additional appointment details are provided below:</p>
    <table style="width: 100%; text-align: left; border: 2px solid black; padding: 1rem; border-radius: 3px;">
      <tr>
        <td style="font-weight: 600;">Date</td>
        <td style="text-align: right;">{{date}}</td>
      </tr>
      <tr>
        <td style="font-weight: 600;">Arrival Window</td>
        <td style="text-align: right;">{{arrivalWindow}}</td>
      </tr>
    </table> -->
  </div>
</div>
